APP_NAME=Westpoint
APP_ENV=local
APP_KEY=base64:+IaS9tCaq4huOvv6n912Qwsnw7uLTKBU7B7f66k6/Bo=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_westpoint
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PRINTER_DEFAULT=main

PRINTER_MAIN_ENABLED=true
PRINTER_MAIN_METHOD=com
PRINTER_MAIN_COM_PORT=COM3
PRINTER_MAIN_BAUD=9600
PRINTER_MAIN_IP=
PRINTER_MAIN_PORT=9100

# PRINTER_2_ENABLED=false
# PRINTER_2_METHOD=com
# PRINTER_2_COM_PORT=COM4
# PRINTER_2_BAUD=9600
# PRINTER_2_IP=
# PRINTER_2_PORT=9100

# PRINTER_3_ENABLED=false
# PRINTER_3_METHOD=network
# PRINTER_3_COM_PORT=COM5
# PRINTER_3_BAUD=9600
# PRINTER_3_IP=192.168.1.102
# PRINTER_3_PORT=9100

PRINTER_TIMEOUT=2
PRINTER_STORE_NAME="WESTPOINT PHARMACY"

VITE_APP_NAME="${APP_NAME}"
